[Unit]
Description=Resume PaddleOCR service after resumption from sleep
Before=sleep.target
After=paddleocr.service
StopWhenUnneeded=yes
OnFailure=paddleocr-cpu.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=modprobe -r nvidia-uvm
ExecStop=modprobe nvidia-uvm
ExecStop=systemctl start --no-block paddleocr.service

[Install]
WantedBy=sleep.target
