[Unit]
Description=PaddleOCR service
Wants=paddleocr-sock.path
After=paddleocr-sock.path systemd-modules-load.service
Before=paddleocr-sock.service
Conflicts=sleep.target

[Service]
Type=exec
ExecStartPre=nvidia-modprobe -u
ExecStart=systemd-nspawn -M paddleocr --user=paddleocr /home/paddleocr/paddleocr-http --loglevel=warn

[Install]
WantedBy=multi-user.target
Also=paddleocr-resume.service
